<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="userData.picture" />
    <ion-card-header>
      <ion-card-title>{{userData.firstName}} {{userData.lastName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Gender: </strong>{{userData.gender}}</p>
      <p><strong>Age: </strong>{{userData.age}}</p>
      <p><strong>Contact No.: </strong>{{userData.phone}}</p>
      <p><strong>Email: </strong>{{userData.email}}</p>
      <p><strong>City: </strong>{{userData.city}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
