<ion-header>
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <p>1. Have more than 4 years of IT experience in Application Development.</p>
        <p>2. Have good knowledge in Product based development and Support Functionalities.</p>
        <p>3. Working Attitude – Flexibility to work in any environment enthusiastically, Ability to see every problem as an opportunity to prove myself.</p>
        <p>4. Interested to explore new Technologies. Involved in application development and creating application structure.</p>
        <p>5. Team player with good interpersonal skills.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
